<div class="d-flex justify-content-between itl-panel-lbel">
    <div class="colour-e5e5e5 w-50" style="font-size: 12px !important">{{settings.title}}:</div>
    <div class="colour-e5e5e5 w-50 d-flex justify-content-end">
        <div class="d-flex flex-column justify-content-center">
        <div class="btn-group itl-settings-switch itl-fs-12 ps-1 pe-1 itl-thik-border-top-color-198f95 itl-background-transparent rounded-pill" role="group" aria-label="Basic example"
            style="height: 23px; font-size: 12px; width: 64px;">
            <button type="button" class="btn btn-primary itl-fs-8 itl-line-height-12 itl-letter-spacing-04" style="width: 32px;">{{settings.labelLeft}}</button>
            <button type="button" class="btn btn-primary itl-fs-8 itl-line-height-12 itl-letter-spacing-04" style="width: 32px;">{{settings.labelRight}}</button>
        </div>
    </div>
    </div>
</div>