//Infotools -- Dark Pattern Libraries----//
.DarkScheme {
  --background-1: #2b2d2f;
  --background-2: #242628;
  --background-3: #1c1e20;
  --background-3-reversed: #f5f5f5;
  --background-4: #141618;
  --background-5: #000000;
  --background-6: #000000;
  --background-7: #212a33;
  --background-8: #000000;
  --background-9: #82d8f9;
  --orange-primary-1: #EC792B;

  --text-title: #e5e5e5;
  --text-title-reversed: #2d2d2d;
  --text-clickable: #bbbbbb;
  --text-clickable-reversed: #525252;
  --text-clickable-hover: #e5e5e5;
  --text-non-clickable: #868686;
  --text-color-1: #bbbbbb;
  --text-background-color-1: #383838;

  --icon-default-1: #939393;
  --icon-default-2: #6d6d6d;
  --icon-default-3: #424242;
  --icon-hover: #b8b8b8;
  --icon-disabled: #2f2f2f;
  --icon-custom: #484a4c;

  --disabled-1: #404040;

  --application-background: #383838;
  --application-background-opacity-90: rgba(56, 56, 56, 0.9);
  --application-background-opacity-70: rgba(56, 56, 56, 0.7);
  --application-background-opacity-50: rgba(56, 56, 56, 0.5);
  --application-background-opacity-25: rgba(56, 56, 56, 0.25);
  --application-menu-background-opacity-85: rgb(64 64 64 / 100%);
  --application-menu-background: rgba(64, 64, 64, 1);

  --radio-border: #198f95;
  --popup-text: #ffffff;
  --popup-background-1: #454545;
  --svg-fill-reverse: #ffffff;
  //  dropdown menu bg color
  --dropdown-bg: #1c1e20;
  --dropdown-bg-2: #242628;

  //GF
  --gf-popup-background-1: #2d2b2f;
  --gf-popup-background-2: #454545;
  --gf-text-title: silver;
  --gf-text-hover: #b8b8b8;

  // custom color
  --lightcolor-all-theme: #2f2f2f;
  --highlight-color: rgba(79, 56, 42, 1);

  //Table
  --table-row-highlight-dark: rgba(96, 96, 96, 0.55);
  --table-row-highlight-light: rgba(96, 96, 96, 0.45);

  --drop-zone-background-color: #575757;

  --hc-nav-mask-background: rgba(136, 153, 34, 0.2);

  .thumbnail-sql-server-logo {
    background: url("./images/SQL_Server_Logo_Dark.png");
  }

  .thumbnail-askia-logo {
    background: url("./images/Askia_Logo_Dark.png");
  }

  .thumbnail-decipher-logo {
    background: url("./images/Decipher_Logo_Dark.png");
  }

  .thumbnail-qualtrics-logo {
    background: url("./images/Qualtrics_Logo_Dark.png");
  }

  .thumbnail-voxco-logo {
    background: url("./images/Voxco_Logo.png");
  }

  .thumbnail-surveyMonkey-logo {
    background: url("./images/SurveyMonkey_Logo.png");
  }

  .thumbnail-gcpBigQuery-logo {
    padding: 15%;
  }

  .moeText {
    color: #868686;
  }
}
