.itl-drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.5);
}

element.style {
  margin-left: 101px;
}

.mat-drawer.mat-drawer-side {
  width: 263px;
  background-color: var(--background-6) !important;
}

:host ::ng-deep .mat-drawer-inner-container {
  background-color: var(--background-6) !important;
  background-color: white !important;
}

.mat-drawer-content {
  position: relative;
  display: block;
  height: 100%;
  overflow: auto;
}

.mat-app-background {
  background-color: var(--background-6) !important;
  color: rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-drawer {
  background: var(--background-3 !important);
}

p {
  font-family: Lato;
}

.control-image {
  position: relative;
  background-color: black;
  opacity: 0.35;
  text-align: left;
  cursor: move;
  z-index: 1000;
}

.resizable {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 200px;
  border: 1px dashed rgba(255, 255, 255);
  // background-color: #ffffff;
  // opacity: 0.15;
  background-color: transparent;
  opacity: 1;
  cursor: move;
  z-index: 3;
}

.activeContainer {
  border: 1px dashed rgb(0 225 255);
  // background-color: rgba(0, 225, 255, 0.163) !important;
  opacity: 1;
}

.resizer {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 250, 250, 0.35);
}

.activeResizer {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 225, 255, 0.163) !important;
  opacity: 1 !important;
}

.top-left {
  top: 0px;
  left: 0px;
  cursor: se-resize;
}

.top-right {
  cursor: ne-resize;
  top: 0px;
  right: 0px;
}

.bottom-left {
  cursor: sw-resize;
  bottom: 0px;
  left: 0px;
}

.bottom-right {
  cursor: nw-resize;
  right: 0px;
  bottom: 0px;
}

::ng-deep
  .drawer-scroll
  > .mat-drawer-inner-container::-webkit-scrollbar {
  width: 2px;
}

::ng-deep
  .drawer-scroll
  > .mat-drawer-inner-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::ng-deep
  .drawer-scroll
  > .mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background-color: rgb(147, 147, 147);
  outline: 1px solid rgb(89, 89, 89);
}