<div style="height: 40px;"
    class="DarkScheme itl-background-1c1e20 itl-controlPanel-12 d-flex flex-column justify-content-center  itl-dashboard-form">
    <div class="d-flex justify-content-end pe-3 ps-3">
        <mat-icon class="itl-cursor-pointer" value="side" (click)="toggleDrawer()"
            [ngClass]="{'itl-color-e36c26':drawer.opened,'itl-color-6d6d6d':!drawer.opened}">edit</mat-icon>
        <mat-icon class="itl-color-e36c26" value="push"
            (click)="saveDashboardData()">save</mat-icon>
    </div>
</div>
<div style="height: 100vh;" class="mat-typography mat-app-background position-relative header-image">
    <div class="container-fluid m-0 p-0 position-relative">
        <!-- container -->
        <div class="position-absolute" style="width:100%;height:100%;top:0%;left:0%;background-color: rgb(0, 0, 0);">
            <div *ngFor="let container of this.dashboardFormService.containerArray; let i = index" class="resizable"
                [ngClass]="this.dashboardFormService.selectedContainerIndex == container.containerIndex && this.matDrawer.opened ? 'activeContainer' : ''"
                (click)="activateContainer(container.containerIndex)" 
                [ngStyle]="{'z-index':isNavigatedAway? 0 : container.zIndex}"
                [style.transform]="'translate3d(' + container.containerPosition.left + 'px,' + container.containerPosition.top + 'px,' + '0px)'"
                [style.width.px]="container.containerPosition.width"
                [style.height.px]="container.containerPosition.height" 
                (mousedown)="setStatus($event, 2, null, i)"
                [style]="{
                    zIndex: container.zIndex
                }"
                (window:mouseup)="setStatus($event, 0, null, i)">
                <div class="cursor-1 resizer top-left"
                    [ngClass]="this.dashboardFormService.selectedContainerIndex == container.containerIndex && this.matDrawer.opened ? 'activeResizer' : ''"
                    (mousedown)="setStatus($event, 1, topLeftResize, i)"
                    [style]="{
                        zIndex: container.zIndex + 1
                    }"
                    ></div>
                <div class="cursor-2 resizer top-right"
                    [ngClass]="this.dashboardFormService.selectedContainerIndex == container.containerIndex && this.matDrawer.opened ? 'activeResizer' : ''"
                    (mousedown)="setStatus($event, 1, topRightResize, i)"
                    [style]="{
                        zIndex: container.zIndex + 1
                    }"
                    ></div>
                <div class="cursor-4 resizer bottom-left"
                    [ngClass]="this.dashboardFormService.selectedContainerIndex == container.containerIndex && this.matDrawer.opened ? 'activeResizer' : ''"
                    (mousedown)="setStatus($event, 1, bottomLeftResize, i)"
                    [style]="{
                        zIndex: container.zIndex + 1
                    }"
                    ></div>
                <div class="cursor-3 resizer bottom-right"
                    [ngClass]="this.dashboardFormService.selectedContainerIndex == container.containerIndex && this.matDrawer.opened ? 'activeResizer' : ''"
                    (mousedown)="setStatus($event, 1, bottomRightResize, i)"
                    [style]="{
                        zIndex: container.zIndex + 1
                    }"
                    >
                </div>
                <div 
                [style]="{
                paddingTop:container.containerPadding.top+'px',
                paddingRight:container.containerPadding.right+'px',
                paddingLeft:container.containerPadding.left+'px',
                paddingBottom:container.containerPadding.bottom+'px',
                opacity:container.opacity,
                backgroundColor:container.backgroundColor}" 
                class="w-100 h-100"
                >

                </div>
            </div>
        </div>
        <div>
            <div class="row" *ngFor="let item of grid; let i=index">
                <div class="col itl-thik-border-top-color-198f95" style="height: 8.33vh;"
                    *ngFor="let item of grid; let i=index">
                </div>
            </div>
        </div>
    </div>
    <mat-drawer-container class="itl-drawer-container position-absolute">
        <mat-drawer #drawer [mode]="mode.value" position="end" [opened]="statusType==='new'" style="width: 263px" class="drawer-scroll">
            <itl-dashboard-right-side-panel (onCreateNewContainer)="createNewContainer($event)"
                [selectedIndex]="this.selectedIndex">
            </itl-dashboard-right-side-panel>
        </mat-drawer>
        <mat-drawer-content>
            <mat-form-field appearance="fill" class="invisible">
                <mat-select #mode value="push" class="invisible">
                </mat-select>
            </mat-form-field>
        </mat-drawer-content>
    </mat-drawer-container>
</div>